*, html, body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin: 5px 5px 5px 40px;
  margin-top: 10px;
}

a.logo-title {
  text-transform: uppercase;
  color: black;
}

a span.logo-last {
  color: #AA00FF;
}

header {
  width: 100%;
  display: block;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  min-height: 40px;
  max-height: 56px;
  margin-bottom: 0px;
  border-top: 3px;
  top: 0;
  border: 0px;
  background: #fff;
}

nav svg.menu {
  width: 2.2em;
  cursor: pointer;
  margin: 3px 3px 0 8px;
  padding: 5px;
  margin-top: 6px;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  margin-top: 3px;
}

.icons .user-icon {
  margin: 3px 0 0;
  padding: 6px;
}

.icons .shopping-cart {
  margin: 3px 3px 0 0;
  padding: 6px;
}

nav.slideout-menu {
  position: fixed;
  left: 0;
  top: 0;
  background: white;
  height: 100vh;
  width: 75%;
  text-transform: capitalize;
  display: none;
}

nav.slideout-menu ul {
  list-style-type: none;
  padding: 0;
  margin-top: 2.5em;
}

nav.slideout-menu a {
  color: black;
  padding: .6em 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav.slideout-menu a:hover {
  background: #E0E0E0;
  -webkit-transition: .1s;
  transition: .1s;
}

.page-wrapper {
  min-height: 100vh;
  padding-bottom: 20px;
  z-index: 0;
  padding-top: 65px;
}

.main-container {
  padding-left: 8px;
  padding-right: 8px;
  min-height: 95%;
}

.main-content-wrapper {
  position: relative;
}

.center-wrapper {
  position: relative;
  width: 100%;
}

.mobile-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0 0 6px 0;
  width: 100%;
  margin: 2px 5px 5px 0px;
}

.input-wrapper {
  margin: 0px 0px !important;
  width: 100%;
}

.input {
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.4rem;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  height: 34px;
  margin-bottom: 0px;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border-radius: 0px;
  border-style: solid !important;
}

input {
  -webkit-writing-mode: horizontal-tb !important;
      -ms-writing-mode: lr-tb !important;
          writing-mode: horizontal-tb !important;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: start;
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
  cursor: text;
}

.btn {
  float: right;
  height: 34px;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  font-weight: normal;
  border-radius: 0px;
  z-index: 2;
  margin-left: -1px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 1px solid transparent;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.btn:hover {
  background-color: #E0E0E0;
}

section {
  margin-bottom: 10px;
}

section.top-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-sellers-btn {
  padding-right: 8px;
  padding-left: 0px;
  position: relative;
  min-height: 1px;
  float: left;
  width: 33.33%;
}

.under-retail-btn {
  padding-right: 4px;
  padding-left: 4px;
  position: relative;
  min-height: 1px;
  width: 33.33%;
}

.newest-btn {
  padding-right: 0px;
  padding-left: 8px;
  position: relative;
  min-height: 1px;
  float: right;
  width: 33.33%;
}

a.content-btn {
  padding: 8px 12px;
  font-size: 14px;
  margin-bottom: 0;
  text-align: center;
  white-space: nowrap;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  display: block;
  width: 100%;
  height: 34px;
}

a.content-btn:hover {
  background-color: #E0E0E0;
}

section.filter-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  margin-bottom: 5px;
}

.show-filter-txt {
  cursor: pointer;
}

.open-slide {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

aside {
  position: fixed;
  right: 0;
  top: 0;
  background: #fff;
  z-index: 999;
  width: 100%;
  height: 100vh;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition: -webkit-transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
}

aside span.filter-title {
  font-size: 1rem;
  font-weight: bold;
  line-height: 30px;
  color: black;
}

.size {
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.size label {
  padding: 0px;
  border: 0 none;
  margin: 5px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.size label input[type="checkbox"],
.visually-hidden {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px, 1px, 1px, 1px);
  /*maybe deprecated but to support legacy browsers */
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  /*modern browsers, clip-path works inwards from each corner*/
  white-space: nowrap;
  /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
}

.size label .size-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50px;
  padding: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  color: black;
  font-size: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  height: 50px;
  border: 1px solid #E0E0E0;
}

.size label input[type="checkbox"]:focus ~ .size-box {
  background: black;
  -webkit-transition: none;
  transition: none;
  color: #fff;
}

.size label .size-box .checkbox-label {
  margin: 2px;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
}

.show-filters {
  display: none;
  padding: 13px 8px;
  padding-left: 2px;
  margin-right: auto;
  line-height: 17px;
  float: left;
  font-size: 14px;
  letter-spacing: 0px;
  text-transform: capitalize;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-container {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: fixed;
  z-index: 1030;
  bottom: 30px;
}

.filter-btn {
  display: inline-block;
  padding: 6px 12px;
  margin-left: auto;
  margin-right: auto;
  background-color: #000;
  color: #fff;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.42;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 1px solid transparent;
  border-radius: 4px;
  border-color: #ccc;
}

button {
  -webkit-writing-mode: horizontal-tb !important;
      -ms-writing-mode: lr-tb !important;
          writing-mode: horizontal-tb !important;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-indent: 0px;
  text-shadow: none;
  text-transform: none;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  overflow: visible;
}

.sorter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 2px;
  margin-left: auto;
  width: auto !important;
  white-space: nowrap;
  float: right;
  cursor: pointer;
  margin-right: 2px;
}

.title span {
  display: inline-block;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0px;
  text-transform: capitalize;
  color: #777777;
  padding-right: 8px;
}

.selected-sort {
  display: inline-block;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0px;
  text-transform: capitalize;
  color: #000;
  text-align: right;
}

.sort-wrap {
  -webkit-transform: translateX(1000%);
          transform: translateX(1000%);
  background-color: #fff;
  padding: 4px;
  position: absolute;
  top: 45px;
  z-index: 9999;
  margin: 0px;
  right: 0;
  border: 1px solid #E0E0E0;
  min-width: 200px;
  white-space: normal;
  text-align: left;
  font-size: 14px;
  line-height: 17px;
}

.sort-options {
  padding: 8px;
  border-bottom: 1px solid #eee;
}

.sort-options:hover {
  background-color: #E0E0E0;
}

.open-sort {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.products-container {
  display: block;
}

.products-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  width: 100%;
}

.product-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  margin: 0px;
  border: 1px solid #E0E0E0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 1;
  cursor: pointer;
}

.product-item a {
  display: block;
  color: #000;
  width: 100%;
  height: 100%;
}

.product-item a span.image-wrapper {
  display: block;
  border: 0px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 4px;
}

.product-item a span.image-wrapper img {
  display: block;
  height: auto;
  min-height: 50%;
  max-width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.product-item a span.title-wrapper {
  display: block;
  padding-bottom: 15px;
  margin: 0px;
  height: 36px;
  overflow: hidden;
  padding: 0px;
  padding-top: 0px;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
}

.product-item a span.price-wrapper {
  display: block;
  text-align: center;
  font-size: 100%;
  font-weight: 500;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0px;
}

.product-item:hover {
  border: 1px solid #000;
}

@media only screen and (min-width: 768px) {
  .page-wrapper {
    padding-top: 55px;
  }
  .show-filters {
    display: block;
  }
  .btn-container {
    display: none;
  }
  form.mobile-form {
    vertical-align: middle;
    width: 50%;
    margin: auto;
  }
  a.content-btn {
    font-size: 17px;
    height: 37px;
  }
  .input {
    height: 37px;
  }
  .btn {
    height: 37px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 990px) {
  .main-container {
    width: 750px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0px 20px 0px;
  }
  .products-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[3];
        grid-template-columns: repeat(3, auto);
  }
}

@media only screen and (min-width: 992px) {
  .main-container {
    width: 970px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0px 20px 0px;
  }
  .products-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[4];
        grid-template-columns: repeat(4, auto);
  }
}

@media only screen and (min-width: 1200px) {
  .main-container {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0px 20px 0px;
  }
  .products-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[4];
        grid-template-columns: repeat(4, auto);
  }
}
/*# sourceMappingURL=main.css.map */