//justify-content aligns items horizontally, align-items aligns items vertically, flex-direction defines the directions of items placed in container. align seklf takes the same values as align items
//when flex-direction is a column, justify-content changes to vertical and align-items changes to horizontal
//when you set the flex-direction to revrsed column or row, start and end are also reversed.
//using order we can change items values. Items have a default value of 0, but we can use this property to also set it to a positive or negative integer value (-2, -1, 0, 1, 2).
//flex-flow is just flex-direction and flex-wrap combined. Ex flow-wrap: row wrap. 
//You can use align-content to set how multiple lines are spaced apart from each other.
//align-content determines the spacing between lines. while align-items determines how the items as a whole are aligned within the container. When there is only one line, align-content has no effect.

*, html, body {
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

a {
    text-decoration: none;
}

//NAVIGATION TOP (MOBILE)
.logo {
    font-size: 1.9rem;
    font-weight: bold;
    text-align: center;
    margin: 5px 5px 5px 40px;
    margin-top: 10px;
}

a.logo-title {
    text-transform: uppercase;
    color: black
}

a span.logo-last {
    color: #AA00FF;
}

header {
    width: 100%;
    display: block;
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1330;
    min-height: 40px;
    max-height: 56px;
    margin-bottom: 0px;
    border-top: 0px;
    top: 0;
    border: 0px;
    
    svg.menu {
        width: 2.4em;
        cursor: pointer;
        margin: 3px 3px 0 8px;
        padding: 5px;
    }
}

.icons {
    display: flex;
 
    .user-icon {
        margin: 3px 0 0;
        padding: 5px;
    }

    .shopping-cart {
        margin: 3px 3px 0 0;
        padding: 5px;
    }
}

//NAVIGATION HAMBURGER SLIDE OUT (MOBILE)
nav.slideout-menu {
    position: fixed;
    left: 0;
    top: 0;
    background: white;
    height: 100vh;
    width: 75%;
    text-transform: capitalize;
    // transform: translateX(0%);
    // transition: transform .5s ease-in-out;
    display: none;
    
    ul {
        list-style-type: none;
        padding: 0;
        margin-top: 2.5em;
    }

    a {
        color: black;
        padding: .6em 1em;
        display: flex;
       
        &:hover {
            background: #E0E0E0;
            transition: .1s;
        }
    }
}

//PAGE WRAPPER (MOBILE)
.page-wrapper {
    margin: 0 auto -50px;
    min-height: 100vh;
    padding-bottom: 20px;
    z-index: 0;
    padding-top: 55px;
}

//MAIN-CONTENT-WRAPPER (MOBILE)
.main-content-wrapper {
    margin-bottom: auto;
    margin-right: auto;
    padding: 5px 8px 20px 8px;
    min-height: 95%;
}

//SEARCHFORM VIEW (MOBILE)
form {
    display: flex;
    flex-direction: row;
    padding: 0 0 6px 0;
    width: 100%;
}

.search {
    margin: 2px -5px 5px 0px;
}

.input-wrapper {
    margin: 0px 0px !important;
    width: 100%;
} 

.input {
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.4rem;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    height: 34px;
    margin-bottom: 0px;
    box-shadow: none !important;
    border-radius: 0px;
    border-style: solid !important;
}

input {
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    appearance: auto;
    cursor: text;
}

button {
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-indent: 0px;
    text-shadow: none;
    text-transform: none;
    align-items: flex-start;
    overflow: visible;
}

span.search-button {
    display: inline;
    font-size: 0;
    white-space: nowrap;
    vertical-align: middle;
}

.btn {
    float: right;
    height: 34px;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    font-weight: normal;
    border-radius: 0px;
    z-index: 2;
    margin-left: -1px;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

//TOP CONTENT BUTTONS (MOBILE)
section.top-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-sellers-btn {
    padding-right: 8px;
    padding-left: 0px;
    position: relative;
    min-height: 1px;
    float: left;
    width: 33.33%;
}

.under-retail-btn {
    padding-right: 4px;
    padding-left: 4px;
    position: relative;
    min-height: 1px;
    width: 33.33%;
}

.newest-btn {
    padding-right: 0px;
    padding-left: 8px;
    position: relative;
    min-height: 1px;
    float: right;
    width: 33.33%;
}

a.content-btn {
    padding: 8px 12px;
    font-size: 14px;
    margin-bottom: 0;
    text-align: center;
    white-space: nowrap;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    display: block;
    width: 100%;
    height: 34px;
}

//ASIDE COLLAPSE SLIDE: SHOW FILTERS (MOBILE)
//STILL NEED BUTTON FOR MOBILE VIEW///
aside {
    position: fixed;
    right: 0;
    top: 0;
    background: #fff;
    z-index: 999;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    transition: transform .5s ease-in-out;
}

//SHOW FILTERS CLICKABLE TITLE (MOBILE)
.show-filter-txt {
    cursor: pointer;
}
.open-slide {
    transform: translateX(0%);
}

//SHOW FILTERS MENU: SIZE(S) (MOBILE)
aside span.filter-title {
    font-size: 1rem;
    font-weight: bold;
    line-height: 30px;
    color: black;
}

.size {
    margin: 0px;
    display: flex;
    justify-content: space-between;
}

.size label {
    padding: 0px;
    border: 0 none;
    margin: 5px;
    cursor: pointer;
    display: flex;
}

.size label input[type="checkbox"],  
.visually-hidden {
    border: 0;
    padding: 0;
    margin: 0;
    position: absolute !important;
    height: 1px; 
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
    clip: rect(1px, 1px, 1px, 1px); /*maybe deprecated but to support legacy browsers */
    clip-path: inset(50%); /*modern browsers, clip-path works inwards from each corner*/
    white-space: nowrap;/* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
}

.size label .size-box {
    position: relative;
    display: flex;
    width: 50px;
    padding: 15px;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    color: black;
    font-size: 20px;
    transition: 0.5s;
    user-select: none;
    height: 50px;
    border: 1px solid #E0E0E0;
}

.size label input[type="checkbox"]:focus ~ .size-box {
    background: black;
    transition: none;
    color: #fff;
}

.size label .size-box .checkbox-label {
    margin: 2px;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
}

//SORT BY VIEW (MOBILE)

//MAIN SHOES VIEW (MOBILE)
.product-wrapper {
    width: 100%;
}

.product-wrapper a span.image-wrapper {
    width: 100%;

    img {
        width: 5em;
    }
}